<% include ../partials/header %>
<style>

@media only screen and (max-width: 700px) {
		
			.bori{
				background: url(https://images.unsplash.com/photo-1565115551503-ea90acc84e2f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80); background-repeat:no-repeat; margin-bottom:-1020px;background-size:inherit; position:absolute; background-attachment: fixed;min-height:190%;color: #ECF0F1;margin-top:-60px;
		
			}
	}
@media only screen and (min-width: 1200px) {
		
	.bori{
		background: url(https://images.unsplash.com/photo-1565115551503-ea90acc84e2f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80); background-repeat:no-repeat; margin-bottom:-1200px;background-size:inherit; position:absolute; background-attachment: fixed;min-height:220%;color: #ECF0F1;
		
	}
	}
		

</style>
<body class="bori">
	<div  style="z-index: 1;"  class="container row rounded ">	


		<form  style=" margin-top:20%;margin-left: 33%;border: 1.5px solid grey; background:#45B8AC;padding-top:2%;" class=" col-lg-6" method="POST" action="/adPost/request">
			<div class="form-group">
				    <label for="requestTitle">Request Title*</label>
				    <input type="text" class="form-control" name="requestTitle" id="requestTitle" placeholder="reqeustTitle">
				    <small>mention the appropriate Request Title</small>
				    
		  </div>
				<div class="form-group">
							 <label  for="adTitle">CATEGORY*</label>
							<input  type="text"    name="category" value=<%= category %>&#160; &nbsp;>
					
						</div>
		  <hr>
		  <div class="form-group">
		  	<label for="description">Description*</label>
		  	<textarea class="form-control " name="description" id="description" rows="3">
		  		
		  	</textarea>
		  </div>
		  <!-- <hr>
		  <div class="form-group custon-select">
		  	<label for="type">Type</label>
		  	<select class="form-control" id="type">
		  		<option>For Sale</option>
		  		<option>For Rent</option>
		  	</select>

		  </div> -->
		  <hr>
		  <div class="form-group">
		  	<label for="priceRange">PriceRange</label>
		  	<input type="text" name="priceRange" id="priceRange" class="form-control" placeholder="100-200(INR)">

		  </div>
		  <hr>
		  <div class="form-group">
		  	<label for="phoneNO">Phone NO:</label>
		  	<input type="text" name="phone" id="phoneNo" class="form-control " placeholder="phone no">

		  </div>
		  
		<hr>
		  <div class="form-group">
		  	<label>Enter Your Hostel Block</label>
		  	
			  							    	
<div class="scrollable required field">

<select id="block" class="form-control" name="block"block>
    <option value="A-BLOCK(MH)" selected>A Block Men's</option>
    <option value="B-BLOCK(MH)">B Block Men's</option>
    <option value="C-BLOCK(MH)">C Block Men's</option>
    <option value="D-BLOCK(MH)">D Block Men's</option>
    <option value="E-BLOCK(MH)">E Block Men's</option>
    <option value="F-BLOCK(MH)">F Block Men's</option>
	<option value="G-BLOCK(MH)">G Block Men's</option>
	<option value="H-BLOCK(MH)">H Block Men's</option>
	<option value="J-BLOCK(MH)">J Block Men's</option>
	<option value="K-BLOCK(MH)">K Block Men's</option>
	<option value="L-BLOCK(MH)">L Block Men's</option>
	<option value="M-BLOCK(MH)">M Block Men's</option>
	<option value="N-BLOCK(MH)">N Block Men's</option>
	<option value="P-BLOCK(MH)">P Block Men's</option>
	<option value="Q-BLOCK(MH)">Q Block Men's</option>
	<option value="R-BLOCK(MH)">R Block Men's</option>
	<option value="A-BLOCK(LH)">A Block Women's</option>
	<option value="B-BLOCK(LH)">B Block Women's</option>
	<option value="C-BLOCK(LH)">C Block Women's</option>
	<option value="D-BLOCK(LH)">D Block Women's</option>
	<option value="E-BLOCK(LH)">E Block Women's</option>
	<option value="F-BLOCK(LH)">F Block Women's</option>
	<option value="G-BLOCK(LH)">G Block Women's</option>
	<option value="H-BLOCK(LH)">H Block Women's</option>
	<option value="Technoly Tower">Technology Tower</option>
	<option value="Main Gate">Main Gate </option>
	<option value="Silver Jubliee Tower">Silver Jubliee Tower</option>
</select>
</div>
			
		</div>
<button style="margin-bottom:15px;" type="submit" class="btn btn-success" >
	POST
			</button>

	</form></div>
<% include ../partials/footer %>