
<% include ../partials/header %>


<br><br>
<div style="background-image:url(https://images.unsplash.com/photo-1460518451285-97b6aa326961?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);background-size:cover;background-repeat:no-repeat; margin:-60px auto;min-height:100%;">
<div class="py-5 text-center">
    <h2 style="color:#FEDBD0;">Resources</h2>
    <p style="color:#FEDBD0;"class="lead">Discover a whole new place full of books, question papers and a lot more exclusive for VITians</p>
</div>

    <div class=" h-100">
      <div class="d-flex justify-content-center h-100">
        
			<form method="GET" action="/adPost/resources">
				<input class="form-control form-inline mr-sm-2"  type="text" name="search3" placeholder="Search...">
           <a ><i style="float:left;margin-left:400px;" class="fas fa-search"></i></a> 
			</form>
       
      </div>
    </div>
	<br>

<div  style="margin-left:8rem;"class="row text-center">
  <div class=" text-center ">
                         <div class=" py-5 text-center">
							<% if(noMatch !== null){ %>
								<h3 style="margin-top:100px;" class="text-center">
									No Subject Found On the Search
							</h3>
							
							
							<% } %>
						</div>
	 <% course.forEach(function(course){%>
	<div class="card shadow-sm col-lg-4  float-right text-center" style="margin-bottom:30px;margin-right:50px;float:left;max-height:400px;max-width:300px;">
      <div class="card-body" style="background-color:#FEEAE6;height:400px;width:300px; margin-left:-15px;z-index:10;" style="border-radius:25px;">
        <h2 class="card-title pricing-card-title"><%= course.course %></h2>
        <ul class="list-unstyled ">
          <li><h4 class="my-0 font-weight-normal"><%= course.courseCode %></h4></li>
        </ul>
        <a type="button" href="/adPost/resources/<%= course._id %>" style="background-color:#442C2E;color:#FEDBD0;" class="btn btn-lg btn-block ">Question Papers</a><br>
		  <a  type="button"href="<%= course.download %>" style="background-color:#442C2E;color:#FEDBD0;" class="btn btn-lg btn-block ">Syllabus + Books</a>
      </div>
    </div>
	<% }); %>

<a class="btn btn-success btn-lg text-center" href="/adPost/resources/subject/newly">CreatePage</a>



  </div>
  
</div>

</div>


