<body>
	<div  style="padding-top: 30px;z-index: 1; "  class="container row rounded ">	


		<form style=" margin-left: 33%;border: 1.5px solid grey; z-index: 1" class="container col-lg-6" method="" action="">
			<div class="form-group">
				    <label for="requestTitle">Request Title*</label>
				    <input type="text" class="form-control" name="requestTitle" id="requestTitle" placeholder="reqeustTitle">
				    <small>mention the appropriate Request Title</small>
				    
		  </div>
		  <hr>
		  <div class="form-group">
		  	<label for="description">Description*</label>
		  	<textarea class="form-control " name="description" id="description" rows="3">
		  		
		  	</textarea>
		  </div>
		  <hr>
		  <div class="form-group custon-select">
		  	<label for="type">Type</label>
		  	<select class="form-control" id="type">
		  		<option>For Sale</option>
		  		<option>For Rent</option>
		  	</select>

		  </div>
		  <hr>
		  <div class="form-group">
		  	<label for="priceRange">PriceRange</label>
		  	<input type="text" name="priceRange" id="priceRange" class="form-control" placeholder="100-200(INR)">

		  </div>
		  <hr>
		  <div class="form-group">
		  	<label for="phoneNO">Phone NO:</label>
		  	<input type="text" name="phone" id="phoneNo" class="form-control " placeholder="phone no">

		  </div>
		  <hr>
		  <div class="regular field custom-control custom-radio custom-control-inline">
			  <input type="radio" id="dayscholar" data-toggle="toggle"name="userType" value="dayscholar"class="custom-control-input">
			  <label class="custom-control-label" for="dayscholar">DayScholar</label>
		</div>
	
		 <div class="custom-control custom-radio custom-control-inline">
			  <input type="radio" id="dayscholar" data-toggle="toggle" name="userType" value="Hosteller"class="custom-control-input">
			  <label class="custom-control-label" for="dayscholar">DayScholar</label>
		</div>
		<hr>
		  <div class="form-group">
		  	<label>Enter Your Hostel Block</label>
		  	<input class="form-control" type="block" name="block" placeholder="L-BLOCK">
		</div>



	</form></div>