<% include ../partials/header %>




<form class="conatiner" method="POST" action="/adPost/resources">
	<div class="form-group">
				    <label for="requestTitle">COURSE TITLE</label>
				    <input type="text" class="form-control" name="course" id="requestTitle" placeholder="courseTitle">
		
				    
		  </div>
	<div class="form-group">
				    <label for="requestTitle">COURSE CODE</label>
				    <input type="text" class="form-control" name="courseCode" id="requestTitle" placeholder="coursecode">
				    <small>mention the courseCode</small>
				    
		  </div>
	<button type="submit" class="btn btn-success">
		Post
	</button>
	
</form>




















<% include ../partials/footer %>