<% include ../partials/header %>




<form class="conatiner" method="POST" action="/adPost/resources" enctype="multipart/form-data">
	<div class="form-group container">
				    <label for="requestTitle">COURSE TITLE</label>
				    <input type="text" class="form-control" name="course" id="requestTitle" placeholder="courseTitle">
		
				    
		  </div>
	<div class="form-group container">
				    <label for="requestTitle">COURSE CODE</label>
				    <input type="text" class="form-control" name="courseCode" id="requestTitle" placeholder="coursecode">
				    <small>mention the courseCode</small>
				    
		  
	
		   <input type="file" id="image" name="image" style="padding:10px 10px; " class=" mani form-control"accept="image/*" required >
		   
	 
	<button type="submit" class="btn btn-success container">
		Post
	</button>
		</div>
	
</form>




















<% include ../partials/footer %>