

<!-- <form method="POST" action="/adPost/category/new2">
	<div  style="margin:5% auto;max-width:600px" >
	<div class="ui fluid vertical menu">
  <h3 align="center">
    Categories
  </h3>
  <div class="ui left pointing simple dropdown link item ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="mobile alternate icon"></i>Mobiles</span>
    <div class="menu" style="margin-top:-42px; ">
		<button class="item" name="category" value="mobile" type="submit" ><i class="mobile alternate icon"></i>Mobile Phones</button>
      
      <button class="item" name="category" value="mobile" type="submit"><i class="mobile icon"></i>Accessories</button>
      
      <button class="item" name="category" value="mobile" type="submit"><i class="tablet alternate icon"></i>Tablets</button>
    </div>
  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="computer icon"></i>Electronics & Appliances</span>
    <div class="menu" style="margin-top:-42px; ">
      <button class="item" ><i class="laptop icon"></i>Laptops</button>
    
      <button class="item" value="electronics" name="category" type="submit"><i class="calculator icon"></i>Calculator</button>
      
      <button class="item" value="electronics" name="category" type="submit"><i class="mouse pointer icon"></i>Mouse</button>
    
      <button class="item" value="electronics" name="category" type="submit"><i class="hdd icon"></i>Hard Disks, Pendrives</button>
      
      <button class="item" value="electronics" name="category" type="submit"><i class="camera retro icon"></i>Camera & Lenses</button>
      
      <button class="item" value="electronics" name="category" type="submit"><i class="itunes note icon"></i>Headphones & Speakers</button>
    
      <button class="item" value="electronics" name="category" type="submit"><i class="gamepad icon"></i>Games & Entertainment</button>
    </div>
  </div>
		
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="bicycle icon"></i>Cycle</span>
    <div class="menu" style="margin-top:-45px; ">
      <button value="cycle" class="item"  name="category"
type="submit" ><i class="bicycle icon"></i>Cycle</button>
      <button value="cycle" class="item"  name="category"
type="submit" ><i class="bicycle icon"></i>Cycle Ascessories</button>
      <button value="cycle" class="item"  name="category"
type="submit"><i class="bicycle icon"></i>Cycle For Rent</button>
    </div>
  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="book icon"></i>Books & Notes</span>
    <div class="menu" style="margin-top:-42px; ">
      <button class="item" value="books" name="category" type="submit"><i class="book icon"></i>Academic Books</button>
      
      <button class="item" value="books" name="category" type="submit"><i class="book icon"></i>Novels</button>
      
      <button class="item" value="books " name="category" type="submit"><i class="newspaper outline icon"></i>Class Notes</button>
      
      <button class="item" value="books " name="category" type="submit"><i class="newspaper outline icon"></i>CAT-II Notes</button>
    </div>
</div>
   <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="microchip icon"></i>Project Components</span>
    <div class="menu" style="margin-top:-42px; ">
      <button class="item" value="project " name="category" type="submit"><i class="rss icon"></i>Sensors</button>
      <button class="item" value="project " name="category" type="submit"><i class="microchip icon"></i>Microcontrollers</button>
		<button class="item" value="project " name="category" type="submit"><i class="code icon"></i>Others</button>
 
  </div>
		</div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="futbol icon"></i>Sports & Outdoor</span>
    <div class="menu" style="margin-top:-42px; ">
      <button class="item" value="Sports" name="category" type="submit"><i class="shopping bag icon"></i>Sports Wear</button>
      
      <button class="item" value="Sports" name="category" type="submit"><i class="table tennis icon"></i>Sports Equipment</button>
      
      <button class="item" value="Sports" name="category" type="submit"><i class="studiovinari icon"></i>Gym & Fitness</button>
      <button class="item" value="Sports" name="category" type="submit"><i class="gamepad icon"></i>Musical Instruments</button>
    </div>
  </div>
	   
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="shopping cart icon"></i>Fashion</span>
    <div class="menu" style="margin-top:-40px; ">
      <button class="item" value="Fashion"name="category" type="submit">Footwear</button>
      <button class="item" value="Fashion"name="category" type="submit">Clothing</button>
      
      <button class="item" value="Fashion"name="category" type="submit">Watch</button>
      <button class="item" value="Fashion"name="category" type="submit" >Coolers/spectacles</button>
    </div>
	  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="gem icon"></i>Jewelery & Cosmetics</span>
    <div class="menu" style="margin-top:-42px; ">
      <button class="item" value="Jewelery" name="category" type="submit">Ring</button>
     

      <button class="item" value="Jewelery" name="category" type="submit">Necklace</button>
      
      <button class="item" value="Jewelery" name="category" type="submit" >Cosmetics</button>
    </div>
  </div>
   <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Personal Care</span>
    
    <div class="menu" style="margin-top: -42px">
      <button class="item" value="Personal_Care" name="category" type="submit">Hair Dryer</button>
     
      <button class="item" value="Personal_Care" name="category" type="submit">Trimmers</button>
  
      <button class="item" value="Personal_Care" name="category" type="submit">Others</button>
    </div>
  </div>
    <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Movies and Games/subscriptions</span>
    
    <div class="menu" style="margin-top: -42px">
      <button class="item" value="Movies" name="category" type="submit"><i class="gamepad icon"></i>Movie Tickets</button>
     
      <button class="item" value="Movies" name="category" type="submit"><i class="gamepad icon"></i>Popular Games</button>
      <button class="item" value="Movies" name="category" type="submit"><i class="gamepad icon"></i>BoardGames/rubix</button>
      
  
      <button class="item" >Other Subscriptions Sharing</button>
  </div>
	</div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="food icon"></i>Foods/Snacks</span>
    
    <div class="menu" style="margin-top: -42px">
      <button class="item" value="Foods" name="category" type="submit"><i class="utensils icon"></i>Food items</button>
     
      <button class="item"  value="Foods" name="category" type="submit"><i class="shopping basket icon"></i>Nutritious Food</button>
  
    </div>
  </div>
	  
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Others</span>
    
    <div class="menu" style="margin-top: -42px">
      <button class="item" vaule="others" name="category" type="submit"><i class="gift icon"></i>Gift Items</button>
     
      <button class="item" value="others" name="category" type="submit">Others</button>
  
    </div>
  </div>
	

</div>
</div>
</form>


 -->














<% include ./partials/header %>
<style>
	@media only screen and (max-width: 700px) {
			#cat{
				max-width:320px;
				margin-left:5%;
				
				
				
			}
		.big_screen{
			display:none;
		}
	#in1:hover{
		margin-bottom:160px;
	}
	#in2:hover{
		margin-bottom:300px;
	}
	#in3:hover{
		margin-bottom:160px;
	}
	#in4:hover{
		margin-bottom:200px;
	}
	#in5:hover{
		margin-bottom:160px;
	}
	#in6:hover{
		margin-bottom:200px;
	}
	#in7:hover{
		margin-bottom:160px;
	}
	#in8:hover{
		margin-bottom:160px;
	}
	#in9:hover{
		margin-bottom:160px;
	}
	#in10:hover{
		margin-bottom:160px;
	}
	#in11:hover{
		margin-bottom:120px;
	}
	#in12:hover{
		margin-bottom:120px;
	}
	} 
	
	@media only screen and (min-width: 1200px) {
			#cat{
				margin:5% auto;
				max-width:570px;
				
				
				
			}
		.catii{
			display:none;
		}
	}
</style>
 <form method="POST"  action="/adPost/category/new2">
	<div  id="cat" class="big_screen"  >
	<div class="ui fluid vertical menu">
  <h3 align="center">
    Categories
  </h3>
  <div class="ui left pointing simple dropdown link item ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="mobile alternate icon"></i>Mobiles</span>
    <div class="menu" style="margin-top:-42px; ">
		<button class="item" name="category" value="mobile" type="submit" ><i class="mobile alternate icon"></i>Mobile Phones</button>
      
      <button class="item" name="category" value="mobile" type="submit"><i class="mobile icon"></i>Accessories</button>
      
      <button class="item" name="category" value="mobile" type="submit"><i class="tablet alternate icon"></i>Tablets</button>
		<button class="item" value="Personal_Care" name="category" type="submit">Others</button>
    </div>
  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="computer icon"></i>Electronics & Appliances</span>
    <div class="menu" style="margin-top:-42px; ">
      <button class="item" ><i class="laptop icon"></i>Laptops</button>
    
      <button class="item" value="electronics" name="category" type="submit"><i class="calculator icon"></i>Calculator</button>
      
      <button class="item" value="electronics" name="category" type="submit"><i class="mouse pointer icon"></i>Mouse</button>
    
      <button class="item" value="electronics" name="category" type="submit"><i class="hdd icon"></i>Hard Disks, Pendrives</button>
      
      <button class="item" value="electronics" name="category" type="submit"><i class="camera retro icon"></i>Camera & Lenses</button>
      
      <button class="item" value="electronics" name="category" type="submit"><i class="itunes note icon"></i>Headphones & Speakers</button>
    
      <button class="item" value="electronics" name="category" type="submit"><i class="gamepad icon"></i>Games & Entertainment</button>
		<button class="item" value="Personal_Care" name="category" type="submit">Others</button>
    </div>
  </div>
		
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="bicycle icon"></i>Cycle</span>
    <div class="menu" style="margin-top:-45px; ">
      <button value="cycle" class="item"  name="category"
type="submit" ><i class="bicycle icon"></i>Cycle</button>
      <button value="cycle" class="item"  name="category"
type="submit" ><i class="fas fa-biking"></i>Cycle Ascessories</button>
      <button value="cycle" class="item"  name="category"
type="submit"><i class="fas fa-motorcycle"></i>Cycle For Rent</button>
		<button class="item" value="Personal_Care" name="category" type="submit">Others</button>
    </div>
  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="book icon"></i>Books & Notes</span>
    <div class="menu" style="margin-top:-42px; ">
      <button class="item" value="books" name="category" type="submit"><i class="book icon"></i>Academic Books</button>
      
      <button class="item" value="books" name="category" type="submit"><i class="book icon"></i>Novels</button>
      
      <button class="item" value="books " name="category" type="submit"><i class="newspaper outline icon"></i>Class Notes</button>
      
      <button class="item" value="books " name="category" type="submit"><i class="newspaper outline icon"></i>CAT-II Notes</button>
		<button class="item" value="Personal_Care" name="category" type="submit">Others</button>
    </div>
</div>
   <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="microchip icon"></i>Project Components</span>
    <div class="menu" style="margin-top:-42px; ">
      <button class="item" value="project " name="category" type="submit"><i class="rss icon"></i>Sensors</button>
      <button class="item" value="project " name="category" type="submit"><i class="microchip icon"></i>Microcontrollers</button>
		<button class="item" value="project " name="category" type="submit"><i class="code icon"></i>Others</button>
 
  </div>
		</div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="futbol icon"></i>Sports & Outdoor</span>
    <div class="menu" style="margin-top:-42px; ">
      <button class="item" value="Sports" name="category" type="submit"><i class="shopping bag icon"></i>Sports Wear</button>
      
      <button class="item" value="Sports" name="category" type="submit"><i class="table tennis icon"></i>Sports Equipment</button>
      
      <button class="item" value="Sports" name="category" type="submit"><i class="studiovinari icon"></i>Gym & Fitness</button>
      <button class="item" value="Sports" name="category" type="submit"><i class="gamepad icon"></i>Musical Instruments</button>
		<button class="item" value="Personal_Care" name="category" type="submit">Others</button>
    </div>
  </div>
	   
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="shopping cart icon"></i>Fashion</span>
    <div class="menu" style="margin-top:-40px; ">
      <button class="item" value="Fashion"name="category" type="submit"><i class="fas fa-socks"></i> Footwear</button>
      <button class="item" value="Fashion"name="category" type="submit"><i class="fas fa-tshirt"></i> Clothing</button>
      
      <button class="item" value="Fashion"name="category" type="submit"><i class="fas fa-clock"></i> Watch</button>
      <button class="item" value="Fashion"name="category" type="submit" ><i class="fas fa-glasses"></i> Coolers/spectacles</button>
		<button class="item" value="Personal_Care" name="category" type="submit">Others</button>
    </div>
	  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="gem icon"></i>Jewelery & Cosmetics</span>
    <div class="menu" style="margin-top:-42px; ">
      <button class="item" value="Jewelery" name="category" type="submit"><i class="fas fa-ring"></i> Ring</button>
     

      <button class="item" value="Jewelery" name="category" type="submit"><i class="fas fa-gem"></i> Jewelery</button>
      
      <button class="item" value="Jewelery" name="category" type="submit" ><i class="fas fa-eye"></i> Cosmetics</button>
		<button class="item" value="Personal_Care" name="category" type="submit">Others</button>
    </div>
  </div>
   <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="fas fa-user-alt"></i>  Personal Care</span>
    
    <div class="menu" style="margin-top: -42px">
      <button class="item" value="Personal_Care" name="category" type="submit">Hair Dryer</button>
     
      <button class="item" value="Personal_Care" name="category" type="submit">Trimmers</button>
  
      <button class="item" value="Personal_Care" name="category" type="submit">Others</button>
    </div>
  </div>
    <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="fab fa-xbox"></i>  Movies and Games/subscriptions</span>
     
    <div class="menu" style="margin-top: -42px">
      <button class="item" value="Movies" name="category" type="submit"><i class="fas fa-video"></i> Movie Tickets/Train Tickets</button>
     
      <button class="item" value="Movies" name="category" type="submit"><i class="gamepad icon"></i> Popular Games</button>
      <button class="item" value="Movies" name="category" type="submit"><i class="fas fa-chess-board"></i>BoardGames/rubix</button>
		<button class="item" value="Personal_Care" name="category" type="submit">Others</button>
      
  
      <button class="item" >Other Subscriptions Sharing</button>
  </div>
	</div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="food icon"></i>Foods/Snacks</span>
    
    <div class="menu" style="margin-top: -42px">
      <button class="item" value="Foods" name="category" type="submit"><i class="utensils icon"></i>Food items</button>
     
      <button class="item"  value="Foods" name="category" type="submit"><i class="shopping basket icon"></i>Nutritious Food</button>
		<button class="item" value="Personal_Care" name="category" type="submit">Others</button>
  
    </div>
  </div>
	  
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Others</span>
    
    <div class="menu" style="margin-top: -42px">
      <button class="item" vaule="others" name="category" type="submit"><i class="gift icon"></i>Gift Items</button>
     
      <button class="item" value="others" name="category" type="submit">Others</button>
  
    </div>
  </div>
	

</div>
</div>
</form>



 
<form method="POST" action="/adPost/category/new2">
	<div  id="cat" class="catii" >
	<div class="ui fluid vertical menu">
  <h3 align="center">
    Categories
  </h3>
  <div id="in1" style="" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span  class="text"><i class="mobile alternate icon"></i>Mobiles</span>
    <div class="menu"  >
		<button class="item" name="category" value="mobile" type="submit" ><i class="mobile alternate icon"></i>Mobile Phones</button>
      
      <button  class="item" name="category" value="mobile" type="submit"><i class="mobile icon"></i>Accessories</button>
      
      <button  class="item" name="category" value="mobile" type="submit"><i class="tablet alternate icon"></i>Tablets</button>
		<button class="item" value="mobile" name="category" type="submit">Others</button>
    </div>
  </div>
   <div id="in2" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="computer icon"></i>Electronics & Appliances</span>
    <div class="menu"  >
      <button class="item" ><i class="laptop icon"></i>Laptops</button>
    
      <button class="item" value="electronics" name="category" type="submit"><i class="calculator icon"></i>Calculator</button>
      
      <button class="item" value="electronics" name="category" type="submit"><i class="mouse pointer icon"></i>Mouse</button>
    
      <button class="item" value="electronics" name="category" type="submit"><i class="hdd icon"></i>Hard Disks, Pendrives</button>
      
      <button class="item" value="electronics" name="category" type="submit"><i class="camera retro icon"></i>Camera & Lenses</button>
      
      <button class="item" value="electronics" name="category" type="submit"><i class="itunes note icon"></i>Headphones & Speakers</button>
    
      <button class="item" value="electronics" name="category" type="submit"><i class="gamepad icon"></i>Games & Entertainment</button>
		<button class="item" value="electronics" name="category" type="submit">Others</button>
    </div>
  </div>
		
  <div id="in3" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="bicycle icon"></i>Cycle</span>
    <div class="menu" >
      <button value="cycle" class="item"  name="category"
type="submit" ><i class="bicycle icon"></i>Cycle</button>
      <button value="cycle" class="item"  name="category"
type="submit" ><i class="fas fa-biking"></i> Cycle Ascessories</button>
      <button value="cycle" class="item"  name="category"
type="submit"><i class="fas fa-motorcycle"></i> Cycle For Rent</button>
		<button class="item" value="cycle" name="category" type="submit">Others</button>
    </div>
  </div>
  <div  id="in4" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="book icon"></i>Books & Notes</span>
    <div class="menu" >
      <button class="item" value="books" name="category" type="submit"><i class="book icon"></i>Academic Books</button>
      
      <button class="item" value="books" name="category" type="submit"><i class="book icon"></i>Novels</button>
      
      <button class="item" value="books " name="category" type="submit"><i class="newspaper outline icon"></i>Class Notes</button>
      
      <button class="item" value="books " name="category" type="submit"><i class="newspaper outline icon"></i>CAT-II Notes</button>
		<button class="item" value="books" name="category" type="submit">Others</button>
    </div>
</div>
   <div id="in5" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="microchip icon"></i>Project Components</span>
    <div class="menu" >
      <button class="item" value="project " name="category" type="submit"><i class="rss icon"></i>Sensors</button>
      <button class="item" value="project " name="category" type="submit"><i class="microchip icon"></i>Microcontrollers</button>
		<button class="item" value="project " name="category" type="submit"><i class="code icon"></i>Others</button>
		
 
  </div>
		</div>
  <div id="in6" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="futbol icon"></i>Sports & Outdoor</span>
    <div class="menu" >
      <button class="item" value="Sports" name="category" type="submit"><i class="shopping bag icon"></i>Sports Wear</button>
      
      <button class="item" value="Sports" name="category" type="submit"><i class="table tennis icon"></i>Sports Equipment</button>
      
      <button class="item" value="Sports" name="category" type="submit"><i class="studiovinari icon"></i>Gym & Fitness</button>
      <button class="item" value="Sports" name="category" type="submit"><i class="gamepad icon"></i>Musical Instruments</button>
		<button class="item" value="Sports" name="category" type="submit">Others</button>
    </div>
  </div>
	   
  <div id="in7" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="shopping cart icon"></i>Fashion</span>
    <div class="menu" >
      <button class="item" value="Fashion"name="category" type="submit"><i class="fas fa-socks"></i>Footwear</button>
      <button class="item" value="Fashion"name="category" type="submit"><i class="fas fa-tshirt"></i>Clothing</button>
      
      <button class="item" value="Fashion"name="category" type="submit"><i class="fas fa-clock"></i>Watch</button>
      <button class="item" value="Fashion"name="category" type="submit" ><i class="fas fa-glasses"></i>Coolers/spectacles</button>
		<button class="item" value="Fashion" name="category" type="submit">Others</button>
    </div>
	  </div>
  <div id="in8" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="gem icon"></i>Jewelery & Cosmetics</span>
    <div class="menu" >
      <button class="item" value="Jewelery" name="category" type="submit"><i class="fas fa-ring"></i>Ring</button>
     

      <button class="item" value="Jewelery" name="category" type="submit"><i class="fas fa-gem"></i>Jewelery</button>
      
      <button class="item" value="Jewelery" name="category" type="submit" ><i class="fas fa-eye"></i>Cosmetics</button>
		<button class="item" value="Jewelery" name="category" type="submit">Others</button>
    </div>
  </div>
   <div id="in9" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
     <span class="text"><i class="fas fa-user-alt"></i>Personal Care</span>
    
    <div class="menu" >
      <button class="item" value="Personal_Care" name="category" type="submit">Hair Dryer</button>
     
      <button class="item" value="Personal_Care" name="category" type="submit">Trimmers</button>
  
      <button class="item" value="Personal_Care" name="category" type="submit">Others</button>
    </div>
  </div>
    <div id="in10" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
     <span class="text"><i class="fab fa-xbox"></i> Movies and Games/subscriptions</span>
    
    <div class="menu" >
      <button class="item" value="Movies" name="category" type="submit"><i class="fas fa-video"></i>Movie Tickets</button>
     
      <button class="item" value="Movies" name="category" type="submit"><i class="gamepad icon"></i>Popular Games</button>
      <button class="item" value="Movies" name="category" type="submit"><i class="fas fa-chess-board"></i>BoardGames/rubix</button>
      
  
      <button class="item" >Other Subscriptions Sharing</button>
  </div>
	</div>
  <div id="in11" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
     <span class="text"><i class="food icon"></i>Foods/Snacks</span>
    
    <div class="menu" >
      <button class="item" value="Foods" name="category" type="submit"><i class="utensils icon"></i>Food items</button>
     
      <button class="item"  value="Foods" name="category" type="submit"><i class="shopping basket icon"></i>Nutritious Food</button>
		<button class="item" value="Foods" name="category" type="submit">Others</button>
  
    </div>
  </div>
	  
  <div id="in12" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Others</span>
    
    <div class="menu" >
      <button class="item" vaule="others" name="category" type="submit"><i class="gift icon"></i>Gift Items</button>
     
      <button class="item" value="others" name="category" type="submit">Others</button>
  
    </div>
  </div> 

</div>
</div>
</form>


























<% include ./partials/footer %>