<% include ./partials/header %>
<style>
	@media only screen and (max-width: 700px) {
			#cat{
				max-width:280px;
				margin-left:5%;
				
				
				
			}
	}
	@media only screen and (min-width: 1200px) {
			#cat{
				margin:5% auto;
				max-width:570px;
				
				
				
			}
	}
</style>
<form method="POST" action="/adPost/category/new">
	<div  id="cat" style="" >
	<div class="ui fluid vertical menu">
  <h3 align="center">
    Categories
  </h3>
  <div class="ui left pointing simple dropdown link item ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="mobile alternate icon"></i>Mobiles</span>
    <div class="menu" style="margin-top:-42px; ">
		<button class="item" name="category" value="mobile" type="submit" ><i class="mobile alternate icon"></i>Mobile Phones</button>
      
      <button class="item" name="category" value="mobile" type="submit"><i class="mobile icon"></i>Accessories</button>
      
      <button class="item" name="category" value="mobile" type="submit"><i class="tablet alternate icon"></i>Tablets</button>
    </div>
  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="computer icon"></i>Electronics & Appliances</span>
    <div class="menu" style="margin-top:-42px; ">
      <button class="item" ><i class="laptop icon"></i>Laptops</button>
    
      <button class="item" value="electronics" name="category" type="submit"><i class="calculator icon"></i>Calculator</button>
      
      <button class="item" value="electronics" name="category" type="submit"><i class="mouse pointer icon"></i>Mouse</button>
    
      <button class="item" value="electronics" name="category" type="submit"><i class="hdd icon"></i>Hard Disks, Pendrives</button>
      
      <button class="item" value="electronics" name="category" type="submit"><i class="camera retro icon"></i>Camera & Lenses</button>
      
      <button class="item" value="electronics" name="category" type="submit"><i class="itunes note icon"></i>Headphones & Speakers</button>
    
      <button class="item" value="electronics" name="category" type="submit"><i class="gamepad icon"></i>Games & Entertainment</button>
    </div>
  </div>
		
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="bicycle icon"></i>Cycle</span>
    <div class="menu" style="margin-top:-45px; ">
      <button value="cycle" class="item"  name="category"
type="submit" ><i class="bicycle icon"></i>Cycle</button>
      <button value="cycle" class="item"  name="category"
type="submit" ><i class="bicycle icon"></i>Cycle Ascessories</button>
      <button value="cycle" class="item"  name="category"
type="submit"><i class="bicycle icon"></i>Cycle For Rent</button>
    </div>
  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="book icon"></i>Books & Notes</span>
    <div class="menu" style="margin-top:-42px; ">
      <button class="item" value="books" name="category" type="submit"><i class="book icon"></i>Academic Books</button>
      
      <button class="item" value="books" name="category" type="submit"><i class="book icon"></i>Novels</button>
      
      <button class="item" value="books " name="category" type="submit"><i class="newspaper outline icon"></i>Class Notes</button>
      
      <button class="item" value="books " name="category" type="submit"><i class="newspaper outline icon"></i>CAT-II Notes</button>
    </div>
</div>
   <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="microchip icon"></i>Project Components</span>
    <div class="menu" style="margin-top:-42px; ">
      <button class="item" value="project " name="category" type="submit"><i class="rss icon"></i>Sensors</button>
      <button class="item" value="project " name="category" type="submit"><i class="microchip icon"></i>Microcontrollers</button>
		<button class="item" value="project " name="category" type="submit"><i class="code icon"></i>Others</button>
 
  </div>
		</div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="futbol icon"></i>Sports & Outdoor</span>
    <div class="menu" style="margin-top:-42px; ">
      <button class="item" value="Sports" name="category" type="submit"><i class="shopping bag icon"></i>Sports Wear</button>
      
      <button class="item" value="Sports" name="category" type="submit"><i class="table tennis icon"></i>Sports Equipment</button>
      
      <button class="item" value="Sports" name="category" type="submit"><i class="studiovinari icon"></i>Gym & Fitness</button>
      <button class="item" value="Sports" name="category" type="submit"><i class="gamepad icon"></i>Musical Instruments</button>
    </div>
  </div>
	   
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="shopping cart icon"></i>Fashion</span>
    <div class="menu" style="margin-top:-40px; ">
      <button class="item" value="Fashion"name="category" type="submit">Footwear</button>
      <button class="item" value="Fashion"name="category" type="submit">Clothing</button>
      
      <button class="item" value="Fashion"name="category" type="submit">Watch</button>
      <button class="item" value="Fashion"name="category" type="submit" >Coolers/spectacles</button>
    </div>
	  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="gem icon"></i>Jewelery & Cosmetics</span>
    <div class="menu" style="margin-top:-42px; ">
      <button class="item" value="Jewelery" name="category" type="submit">Ring</button>
     

      <button class="item" value="Jewelery" name="category" type="submit">Necklace</button>
      
      <button class="item" value="Jewelery" name="category" type="submit" >Cosmetics</button>
    </div>
  </div>
   <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Personal Care</span>
    
    <div class="menu" style="margin-top: -42px">
      <button class="item" value="Personal_Care" name="category" type="submit">Hair Dryer</button>
     
      <button class="item" value="Personal_Care" name="category" type="submit">Trimmers</button>
  
      <button class="item" value="Personal_Care" name="category" type="submit">Others</button>
    </div>
  </div>
    <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Movies and Games/subscriptions</span>
    
    <div class="menu" style="margin-top: -42px">
      <button class="item" value="Movies" name="category" type="submit"><i class="gamepad icon"></i>Movie Tickets</button>
     
      <button class="item" value="Movies" name="category" type="submit"><i class="gamepad icon"></i>Popular Games</button>
      <button class="item" value="Movies" name="category" type="submit"><i class="gamepad icon"></i>BoardGames/rubix</button>
      
  
      <button class="item" >Other Subscriptions Sharing</button>
  </div>
	</div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="food icon"></i>Foods/Snacks</span>
    
    <div class="menu" style="margin-top: -42px">
      <button class="item" value="Foods" name="category" type="submit"><i class="utensils icon"></i>Food items</button>
     
      <button class="item"  value="Foods" name="category" type="submit"><i class="shopping basket icon"></i>Nutritious Food</button>
  
    </div>
  </div>
	  
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Others</span>
    
    <div class="menu" style="margin-top: -42px">
      <button class="item" vaule="others" name="category" type="submit"><i class="gift icon"></i>Gift Items</button>
     
      <button class="item" value="others" name="category" type="submit">Others</button>
  
    </div>
  </div>
	

</div>
</div>
</form>






























<% include ./partials/footer %>