<% include ./partials/header %>

<div class="container text-center">

<img src="https://images.unsplash.com/photo-1560582861-45078880e48e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80" style="border-radius:25%;width:500px;height:500px;margin-top:20%;margin-left-20%;">

<h1 style=" background-color:bisque;margin-top: 60px;width: 520px;margin-left:26%;" >
 	MEDICAL HUB
</h1>
	
</div>

<% include ./partials/footer   %>