
<% include ./partials/header %>

<!-- <script>ff
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1313207795552764',
      cookie     : true,
      xfbml      : true,
      version    : 'v5.6.2'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
	

 -->

<div style="margin-bottom:200px;" class="responsive container">
	

		<div class="row">
			
			<div class="col-md-12">
				<!-- <form action="/login" method="post">
					<div class="form-group">
						<input class="form-control" type="text" name="username" placeholder="username">
					</div>
					<div class="form-group">
						<input class="form-control" type="password" name="password" placeholder="password">
					</div>
					
				</form>
				 -->
				   <!-- <form class="form-signin" action="/login" method="POST">
			  <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
			  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			  <label for="inputEmail"   class="sr-only">Email address</label>
			  <input type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
			  <label for="inputPassword"  class="sr-only">Password</label>
			  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
			  <div class="form-group">
						<button class="btn btn-lg btn-primary btn-block">Login</button>
					</div>

				
				<a href="/campgrounds">Go Back</a>
				</form> -->
		</div>
</div>
	
	
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
<form class="form-signin" action="/login" method="POST">
	
		<h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
      <div class="ui form">
        <div class="field">
          <label>Email</label>
          <div class="ui left icon input">
            <input type="text" name="username" placeholder="Username">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left icon input">
            <input name="password" type="password">
            <i class="lock icon"></i>
          </div>
        </div>
        <button class=" form-grounp ui blue submit button">Login</button>
      </div>
	<!-- <a style="margin-left:32%;margin-top:4px;" href="/auth/facebook" class="btn btn-primary"><span style="padding-right:20px;"class="fa fa-facebook"></span>facebook</a> -->
	<div class="text-center">
		<a  href="/forgot">Forget Password</a>
    </div>

		
	</div>
	  
</form>
    <div class="middle aligned column">
      <div class="ui big button">
        <i class="signup icon"></i>
        <a href="/register">Sign Up</a>
      </div>
    </div>
  </div>



</div>
<% include ./partials/footer %>
