
<% include ./partials/header %>
<!-- <div class="row">
    <h1 style="text-align: center">Sign Up</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/register" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
			<div class="form-group">
                <input class="form-control" type="text" name="adminCode" placeholder="Admin Code">
            </div>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div> -->
<div style="background:url(https://images.unsplash.com/photo-1534009916851-7850ba974f9c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1936&q=80);padding-top:50px;margin-top:-10px" class="">
	<div style="background:#c2c2d6;z-index:1;margin-top:-10px;width:30%;" class="pl-lg-50 pl-md-50 " id="main">

<h2 align="center">Create Account</h2>
<form  action="/register" method="post" class="ui form container">
  <div class="required field">
    <label>username</label>
    <input type="text" name="email" placeholder="Enter user name" required>
  </div>
	<div>
	<label>Email</label>
    <input type="email" name="username" placeholder="Enter email Address" required>
  </div>
  <div class="required field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Enter Password" required>
  </div>
  <div class="required field">
    <label>Currently in</label>
    <select name="year" required>
    	<option value="first" selected>First Year</option>
    	<option value="second">Second Year</option>
    	<option value="three">Third Year</option>
    	<option value="four">Fourth Year</option>
    </select>
  </div>

  
 
  
  
  <!-- <div class="required field">
  	<label>Hosteller or Dayscholar</label>
  	<input type="radio" name="location" value="dayscholar">&#160;Dayscholar &nbsp;
  	<input type="radio" name="location" value="hosteller">&#160;Hosteller<br>
  </div>
 -->


<!-- <div class="scrollable required field">
<label>Hostel Block</label>
<select name""block>
    <option value="MA" selected>A Block Men's</option>
    <option value="MB">B Block Men's</option>
    <option value="MC">C Block Men's</option>
    <option value="MD">D Block Men's</option>
    <option value="ME">E Block Men's</option>
    <option value="MF">F Block Men's</option>
	<option value="MG">G Block Men's</option>
	<option value="MH">H Block Men's</option>
	<option value="MJ">J Block Men's</option>
	<option value="MK">K Block Men's</option>
	<option value="ML">L Block Men's</option>
	<option value="MM">M Block Men's</option>
	<option value="MN">N Block Men's</option>
	<option value="MP">P Block Men's</option>
	<option value="MQ">Q Block Men's</option>
	<option value="MR">R Block Men's</option>
	<option value="WA">A Block Women's</option>
	<option value="WB">B Block Women's</option>
	<option value="WC">C Block Women's</option>
	<option value="WD">D Block Women's</option>
	<option value="WE">E Block Women's</option>
	<option value="WF">F Block Women's</option>
	<option value="WG">G Block Women's</option>
	<option value="WH">H Block Women's</option>
</select>
</div>
 -->



<!-- <div class="field">
    <label>avatar_url</label>
    <input type="text" name="avatar" placeholder="avatar url">
  </div> -->


  <!-- <div class="required field">
    <div class="ui checkbox">
      <input name = "agree" value="1" type="checkbox" required>
      <label>I agree to the Terms and Conditions</label>
    </div>
  </div> -->
  <!-- <div class="form-group">
                <input class="form-control" type="text" name="adminCode" placeholder="Admin Code">
            </div>
   -->
  
	<button align="center"  id="submit" class="ui button" type="submit">Submit</button>
</form><br>
</div><br>
	</div>

<% include ./partials/footer %>