
<% include ./partials/header %>
<style>
@media only screen and (max-width: 700px) {
			#img{
				margin-bottom:-100px;
				margin-top:-80px;
				
				
			}
	}
@media only screen and (min-width: 1200px) {
			#img{
				margin-bottom:-80px;
				
				
				
				
			}
	}


</style>
<div id="img" style="background:url(https://images.unsplash.com/photo-1534009916851-7850ba974f9c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1936&q=80);padding-top:10px;height:120%;width:100%;margin-top:-13px; " >
	<div style="background:#c2c2d6;z-index:1;width:30%;margin:10%;margin-top:12%;min-width:300px;margin-right:10rem" class="pl-lg-50 pl-md-50 " id="main">

<h2 align="center">Create Account</h2>
<form    action="/register" method="post" class="ui form ">
  <div class="required field">
    <label>username</label>
    <input type="email" name="username" placeholder="Enter EmailId" required>
  </div>
	<div>
	<label>Name</label>
    <input type="text" name="name" placeholder="Enter Name" required>
  </div>
  <div class="required field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Enter Password" required>
  </div>
  <div class="required field">
    <label>Currently in</label>
    <select name="year" required>
    	<option value="first" selected>First Year</option>
    	<option value="second">Second Year</option>
    	<option value="three">Third Year</option>
    	<option value="four">Fourth Year</option>
    </select>
  </div>

  
 
 
  
	<button align="center"  id="submit" class="ui button" type="submit">Submit</button>
</form><br>
</div><br>
	</div>

<% include ./partials/footer %>