<% include ../partials/header %>



<div class= "container text-center">
	<h3>ABOUT US</h3>
<h4>SANJAY BABU (LEAD DEVELOPER AND FOUNDER)</h4>
<h4>SANJAY NANDA (CO FOUNDER)</h4>
<h4>ASWATH (CONTRIBUTOR)</h4>


</div>
	
	
	
	
	
<% include ../partials/footer %>