

<% include ../partials/header %>




<!-- 
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> -->
		<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous"> -->
<!-- <style >
	.man{
		text-decoration: line-through;
	}
	 -->
<!-- </style>
	<link rel = "stylesheet" href="/stylesheets/main.css">


</head>
<body>
 -->
<!-- 
    <div class="row">
        <h1 style="text-align: center">Create a New Campground</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="campground[name]" placeholder="name">
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="campground[description]" placeholder="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>

 -->

<div  style="width:auto;" class="container jumbotron">
					<form class="container" action="/adPost" method="POST" enctype="multipart/form-data">
						<div style="margin-top:40px" class="form-group display-5">
							DETAILS OF YOUR AD
								 
						</div>
						
						<div class="form-group">
							 <label required for="adTitle">Ad Title*</label>
							    <input type="text" name="adTitle" class="form-control" id="adTitle" >
						</div>
						<hr>
						<div class="form-group">
							 <label  for="adTitle">CATEGORY*</label>
							<input type="text"    name="category" value=<%= category %>&#160; &nbsp;>
					
						</div>
						<hr>
						 <div class="required field">

  

  </div>
										
						<div class="form-group">
						    <label for="exampleFormControlTextarea1">Description *</label>
						    <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="5" required></textarea>
						 </div>
						 <hr>
						 <div style="margin-left: 20px; margin-bottom:20px; " class="form-group">
						 	
<!-- 
									 	<div class="form-check col ">
										          <input class="form-check-input " type="radio" name="type" id="gridRadios1" value="option1" checked>
										          <label class="form-check-label " for="gridRadios1">
										            Day Scholar
										          </label>
							        </div>
							        <div class="form-check col">
									          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
									          <label class="form-check-label" for="gridRadios2">
									            Hosteler
												          </label> -->
						               <!-- <div style="margin:auto 350px;" class="ui large buttons">
										  <button id="typer" name="type" value="1" class="ui button">Hosteller</button>
										  <div class="or"></div>
										  <button id="typer" name="type" value="2" class="ui button ">Day Scholar</button>
										</div>
								 -->
						
				        </div>
						<div class="form-group">
							 <label for="address">ENTER YOUR PICK ADRRESS *</label>
							    <div class="row">
							    	<div class="col">
							    	
<div class="scrollable required field">
<label for="block" ><h4>Hostel/Academic Block</h4></label>
<select id="block" class="form-control" name="block"block>
    <option value="A-BLOCK(MH)" selected>A Block Men's</option>
    <option value="B-BLOCK(MH)">B Block Men's</option>
    <option value="C-BLOCK(MH)">C Block Men's</option>
    <option value="D-BLOCK(MH)">D Block Men's</option>
    <option value="E-BLOCK(MH)">E Block Men's</option>
    <option value="F-BLOCK(MH)">F Block Men's</option>
	<option value="G-BLOCK(MH)">G Block Men's</option>
	<option value="H-BLOCK(MH)">H Block Men's</option>
	<option value="J-BLOCK(MH)">J Block Men's</option>
	<option value="K-BLOCK(MH)">K Block Men's</option>
	<option value="L-BLOCK(MH)">L Block Men's</option>
	<option value="M-BLOCK(MH)">M Block Men's</option>
	<option value="N-BLOCK(MH)">N Block Men's</option>
	<option value="P-BLOCK(MH)">P Block Men's</option>
	<option value="Q-BLOCK(MH)">Q Block Men's</option>
	<option value="R-BLOCK(MH)">R Block Men's</option>
	<option value="A-BLOCK(LH)">A Block Women's</option>
	<option value="B-BLOCK(LH)">B Block Women's</option>
	<option value="C-BLOCK(LH)">C Block Women's</option>
	<option value="D-BLOCK(LH)">D Block Women's</option>
	<option value="E-BLOCK(LH)">E Block Women's</option>
	<option value="F-BLOCK(LH)">F Block Women's</option>
	<option value="G-BLOCK(LH)">G Block Women's</option>
	<option value="H-BLOCK(LH)">H Block Women's</option>
	<option value="Technoly Tower">Technology Tower</option>
	<option value="Silver Jubliee Tower">Silver Jubliee Tower</option>
</select>
</div>
</div>
							    	<div class="col">
										<label for="room"><h4>Room NO:</h4> </label>
							    		<input id="room" type="text" class="form-control " name="room" placeholder="Room NO:(optional)">
							    	</div>
							    	
							    </div>
						
</div>

						<div sytle="margn-left:500px;" class=" form-group ">
							<label for="PRICE"  class="display-5">SET A PRICE</label>
							<hr>
									<div class="row">
										<div  class="col ui left action input  ">
											  <a class="ui teal labeled icon button">
											    <i class="cart icon"></i>
											    For Sale(INR)
											  </a>
											  <input name="price1" type="number" placeholder="enter price " min="1" step="1">
										</div>

										<!-- <div class="col ui left action input  ">
											  <a class="ui teal labeled icon button">
											    <i class="cart icon"></i>
											    For Rent(INR)
											  </a>
											  <input name="price2" type="number" placeholder="enter price ">
										</div> -->
									</div>	
						</div>
						<hr>
						
						<div class="form-group">
						    <label for="phone">Phone No *</label>
						    <input type="text" pattern="[7-9]{1}[0-9]{9}"class="form-control" placeholder="phone Number" name="ph" id="phone" required>
						 </div>
						<label required  for="photos">Photos </label>
								<div style="margin: 0px 60px 0px 100px " class="form-group">
										
										<div class="row">
											    
											
                    
										<input type="file" id="image" name="img1" style="padding:60px 20px; border:2px solid blue; margin:20px;" class=" mani btn btn-secondary col-lg-3 form-control"accept="image/*" requiered >
											<!-- <input type="file" id="image" name="img2" style="padding:60px 20px; border:2px solid blue; margin:20px;" class=" mani btn btn-secondary col-lg-3 form-control"accept="image/*" >
											<input type="file" id="image" name="img3" style="padding:60px 20px; border:2px solid blue; margin:20px;" class=" mani btn btn-secondary col-lg-3 form-control"accept="image/*" > -->
											<!-- <input type="file" id="image" name="img4" style="padding:60px 20px; border:2px solid blue; margin:20px;" class=" mani btn btn-secondary col-lg-3 form-control"accept="image/*" >
											<!-- <input type="file" id="image" name="img5" style="padding:60px 30px; border:2px solid blue; margin:20px;" class=" mani btn btn-secondary col-lg-3 form-control"accept="image/*" > -->
											<!-- <input type="file" id="image" name="img6" style="padding:60px 30px; border:2px solid blue; margin:20px;" class=" mani btn btn-secondary col-lg-3 form-control"accept="image/*" > --> 
               
											   
										</div>
								</div>
										<hr>
									<!-- <div class="form-group">
											<label required name="show" for="adTitle">Show My Phone No in Ad<input type="Radio" class="form-control" id="adTitle" ></label> -->
										    
									
									<div class="form-group">
										<button style="padding: auto 600px;" class="btn  btn-lg btn-success" class="form-control"  >POST</button>
									</div>
					
					
					</form>

</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>






<!-- </body>
</html> -->
<% include ../partials/footer %>
