

<% include ../partials/header %>


<style>
	@media only screen and (max-width: 700px) {
			#selli{
				margin:7%;
				
				
				
			}
	}
	@media only screen and (max-width: 700px) {
			#priy{
				margin:1%;
				width:100px;
				
				
				
			}
	}
	@media only screen and (max-width: 700px) {
			#sale{
				width:20px;
				
				
			}
	}
	@media only screen and (min-width: 1200px) {
			#selli{
				margin:70px 20%;
				
				
				
			}
	}
/* 	
.imagediv {
	float:left;
    margin-top:50px;
}
.imagediv .showonhover {
	background:red;
	padding:20px;
	opacity:0.9;
	color:white;
	width: 100%;
	display:block;	
	text-align:center;
	cursor:pointer;
} */
	#mi{
		display:none;
	}
	#mu{
		display:none;
	}
</style>



<div  id="selli" style="width:auto;border-radius: 7%;" class="container jumbotron">
					<form class="container" action="/adPost" method="POST" enctype="multipart/form-data">
						<div style="margin-top:40px" class="form-group display-5">
							ADD REPORT
								 
						</div>
						<div class="col">
										<label for="room"><h5>Name:</h5> </label>
							    		<input id="room" type="text" class="form-control " name="name" placeholder="Name of patient">
							    	</div>
						<div class="col">
										<label for="room"><h5>Age:</h5> </label>
							    		<input id="room" type="text" class="form-control " name="age" placeholder="Age of patient">
							    	</div>
					
										
						<div class="form-group">
						    <label for="exampleFormControlTextarea1">Address of Patient *</label>
						    <textarea class="form-control" name="address" id="exampleFormControlTextarea1" rows="5" required></textarea>
						 </div>
						 <hr>
						 <div style="margin-left: 20px; margin-bottom:20px; " class="form-group">
						 	

							
						
				        </div>
					

					
						
						<div class="form-group">
						    <label for="phone">Phone No *</label>
						    <input type="text" pattern="[6-9]{1}[0-9]{9}"class="form-control" placeholder="phone Number" name="ph" id="phone" required>
						 </div>
						<label required  for="photos">Photos </label>
								<div style="margin: 0px 60px 0px 60px " class="form-group">
										
										<div class="row">
											    
											
                    
										<!-- <input type="file" id="image" name="img1" style="padding:60px 20px; border:2px solid blue; margin:20px;" class=" mani btn btn-secondary col-lg-3 form-control"accept="image/*" requiered  > -->
											<h5>
												Add photo of Patient*
											</h5>
											<div style="margin-bottom:50px;" class="custom-file">
    <input  type="file" name="img1" id="image" accept="image/*"  class="custom-file-input" id="customFile">
    <label class="custom-file-label" for="customFile">Choose Image file</label>
	
  </div>
<!-- 								
<input type="file" id="file1" name="img1" accept="image/*"  capture style="display:none" required/>
<img src="https://www.pngtube.com/myfile/detail/32-327440_add-photo-icon-png.png"  id="upfile1" style="cursor:pointer;height:160px;width:160px;" />
									    -->
										</div>
								</div>
										<hr>
							
										    
									
									<div class="form-group">
										<button style="padding: auto 600px;" class="btn  btn-lg btn-success" class="form-control"  >Save</button>
									</div>
					
					
					</form>

</div>




<% include ../partials/footer %>
