<% include ../partials/header %>

<div class="py-5 text-center">
    <h2>Privacy Policy</h2>
</div>
<div style="background-color:#ddd;" class="container"><br>
      <div class="container" style="align:center;">

        <img style="width:200px;height:200px;display: block;margin-left: auto;margin-right: auto;width: 20%;" src="../images/Capture.PNG">

      </div>
<div class="container">
	<p>It is our policy to respond to any infringement notices and take appropriate actions under the Digital Millennium Copyright Act (“DMCA”) and other applicable intellectual property laws.</p>

	<p>All images/files copyright to their owners and used under the fair use copyright law, section 107. All images/files are thought to be public domain and found through various free sources on the internet and publications. Please contact us with any legal problems and we’ll be happy to remove anything in breach.</p>

	<p>If you see anything offensive on this website, please email us at vitconnex@gmail.com We will review this content and will take away the content within 24 hours.</p>



<p>For removal of any advertisements/files mention the following details in email evidently: –
	<ul>
		<li>1. List of Link/s having offensive/copyrighted material.</li><br>
		<li>2. The reason behind the removal.</li><br>
		<li>3. Any proof content ownership or any other reason for the removal.</li><br>
		<li>4. Valid email identification and Person name in removal request.</li>
	</ul></p>
</div>
</div>


<% include ../partials/footer %>