<% include ../partials/header %>


	 <div style="margin-left:10%;"class="py-5 text-center">
     <h2>ShareMyCab - Share</h2>
    <p class="lead">Enter your details of your travel and wait for someone to share cab with you</p>
</div>

<div class="bootstrap-iso container text-center">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">

	
	
	
<form action="/share" method="POST">


<div class = "container">
	<h4 class="mb-3">Travel Details</h4>
        <div class="mb-3 text-left">
          <label for="username"><b>Username</b></label>
          <div class="input-group">
            <div class="input-group-prepend">
				
            </div>
            <input type="text" class="form-control" name="name" id="username" placeholder="Username" required>
            <div class="invalid-feedback" style="width: 100%;">
				Your username is required.
            </div>
          </div>
        </div>

<div class="row">
<div class="col-md-6 text-left">
    <label for="startingpoint"><b>Starting point</b></label>
    <input name="fromPlace" type="text" class="form-control" id="startingpoint" placeholder="VIT, Vellore" required>
    <div class="invalid-feedback">
        Please enter your starting point.
    </div>
</div>

<div class="col-md-6 text-left">
	<label for="address"><b>Destination</b></label>
    <input type="text" class="form-control" name="toPlace" id="destination" placeholder="Chennai Airport" required>
    <div class="invalid-feedback">
        Please enter your destination.
    </div>
</div>
</div>
	
<br>



<div>
	
	</div>

	
<div class="col-md-4 text-left">
    <b>Contact Number</b><small class="text-muted">(Optional)</small>
    <input style="width:350px;margin-left:-15px" name="phone" type="text" class="form-control" id="phone" placeholder="XXXXXXXXX">
</div>
	

<div style="margin-top:-20px;" class="col-md-4 float-right">
	<span style="margin-right:40px;"><b>Date</b></span>
   
      <div style="margin-top:20px" class="col-sm-10">
       <div class="input-group">
        <div class="input-group-addon">
         <i  class="fa fa-calendar">
         </i>
        </div>
        <input style="margin-top:0px;margin-right:50px;" class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
       </div>
      </div>
     </div>
     <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
       <input name="_honey" style="display:none" type="text"/>
   
      </div>
     </div>

</div>
<hr>
<button style="margin-left:40%" class="btn btn-primary btn-block btn-lg" type="submit">Share</button>

	   </form>
	  </div>
	 </div>
	</div>
</div>

	<% include ../partials/footer %>
	

